:root{
    --main-bg-color: #272727;
    --secondary: #3F7EBC;
    --accent: #25B856;
  }

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  width: 100%;
  height: 56px;
}

ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li{
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  height: 56px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  list-style: none;
  margin-right: 24px;
  font-size: 1.1em;
}

li::after{
  content: '';
  display: block;
  height: 20px;
  width:1px;
  background-color: white;
  position: absolute;
  top: 18px;
  right: -16px;
}

li:last-child::after{
  display: none;
}

.logout::before{
  content: '';
  display: block;
  height: 20px;
  width:1px;
  background-color: white;
  position: absolute;
  top: 18px;
  right:74px;
}

.logout{
  margin-right: 40px;
}

a{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  transition: ease-in-out .1s;
}

a:hover{
  background-color: #6291BF;
}